<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="boilerplatedownloader">
            <directory suffix="Test.php">../test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/api</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../public</directory>
            <directory suffix=".php">../publish</directory>
            <directory suffix=".php">../boilerplatedownloader</directory>
        </blacklist>
    </filter>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="8090" />
        <const name="WEB_SERVER_DOCROOT" value="./publish/" />
    </php>
</phpunit>
